header{
    height:calc(100vh - 2.5em);
    background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('../../assets/hero-bg.jpg'), red;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    color: #fff;
}

#hero-text{
    position: absolute;
    bottom: 5rem;
/*    left: 3rem;*/
    border-right: 1px solid #fff;
    padding: 1em;
}
#hero-text button{
    margin-right: 2em;
}
    
.flex-row{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.chart-container{
    width: 100%;
}

@media only screen and (min-width: 768px) {
    .chart-container{
        width: 50%;
    }
}
